In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib
import matplotlib.font_manager as fm
from matplotlib import rc

rc('font', family='AppleGothic')
plt.rcParams['axes.unicode_minus'] = False

In [14]:
df = pd.read_csv('/Users/zzgr/Desktop/zzgrSandaeteuk/PROJECT GAS STATION/데이터/정리 데이터/주유소 데이터 위도 경도 추가본.csv')
df.drop(columns='Unnamed: 0', inplace=True)
df

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,lat,long
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로,현대오일뱅크,02-487-2030,Y,0,1709,1829,0,37.537785,127.126548
1,서울특별시,방아다리주유소,서울 강동구 동남로,SK에너지,02-442-5145,Y,0,1745,1865,1700,37.555183,127.156584
2,서울특별시,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로,현대오일뱅크,02-3428-1739,Y,2033,1751,1851,0,37.554729,127.136459
3,서울특별시,구천면주유소,서울 강동구 구천면로,현대오일뱅크,02-441-0536,N,0,1754,1855,0,37.550088,127.146672
4,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로,GS칼텍스,02-474-7222,N,1995,1776,1869,1800,37.537785,127.126548
...,...,...,...,...,...,...,...,...,...,...,...,...
10983,서울특별시,(주)새서울네트웍스 제이제이주유소,서울 강남구 언주로,현대오일뱅크,02-518-5631,N,2448,2248,2347,0,37.493166,127.047328
10984,서울특별시,대청주유소,서울 강남구 개포로,SK에너지,02-445-5500,N,2566,2266,2299,0,37.491378,127.072705
10985,서울특별시,SK논현주유소,서울 강남구 논현로,SK에너지,02-511-0955,N,2620,2390,2420,1840,37.471318,127.051193
10986,서울특별시,갤러리아주유소,서울 강남구 압구정로,SK에너지,02-540-4965,N,2598,2399,2417,1840,37.527044,127.043927
10987,서울특별시,(주)만정에너지 삼보주유소,서울 강남구 봉은사로,GS칼텍스,02-518-5141,N,2838,2598,2590,0,37.505640,127.028160

In [18]:
df

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,lat,long
0,서울특별시,재건에너지 재정제2주유소 고속셀프지점,서울특별시 강동구 천호대로,현대오일뱅크,02-487-2030,Y,0,1709,1829,0,37.537785,127.126548
1,서울특별시,방아다리주유소,서울 강동구 동남로,SK에너지,02-442-5145,Y,0,1745,1865,1700,37.555183,127.156584
2,서울특별시,현대오일뱅크㈜직영 명일셀프주유소,서울 강동구 고덕로,현대오일뱅크,02-3428-1739,Y,2033,1751,1851,0,37.554729,127.136459
3,서울특별시,구천면주유소,서울 강동구 구천면로,현대오일뱅크,02-441-0536,N,0,1754,1855,0,37.550088,127.146672
4,서울특별시,대성석유(주)길동주유소,서울 강동구 천호대로,GS칼텍스,02-474-7222,N,1995,1776,1869,1800,37.537785,127.126548
...,...,...,...,...,...,...,...,...,...,...,...,...
10983,서울특별시,(주)새서울네트웍스 제이제이주유소,서울 강남구 언주로,현대오일뱅크,02-518-5631,N,2448,2248,2347,0,37.493166,127.047328
10984,서울특별시,대청주유소,서울 강남구 개포로,SK에너지,02-445-5500,N,2566,2266,2299,0,37.491378,127.072705
10985,서울특별시,SK논현주유소,서울 강남구 논현로,SK에너지,02-511-0955,N,2620,2390,2420,1840,37.471318,127.051193
10986,서울특별시,갤러리아주유소,서울 강남구 압구정로,SK에너지,02-540-4965,N,2598,2399,2417,1840,37.527044,127.043927
10987,서울특별시,(주)만정에너지 삼보주유소,서울 강남구 봉은사로,GS칼텍스,02-518-5141,N,2838,2598,2590,0,37.505640,127.028160

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10988 entries, 0 to 10987
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      10988 non-null  object
 1   상호      10988 non-null  object
 2   주소      10988 non-null  object
 3   상표      10988 non-null  object
 4   전화번호    10988 non-null  object
 5   셀프여부    10988 non-null  object
 6   고급휘발유   10988 non-null  int64
 7   휘발유     10988 non-null  int64
 8   경유      10988 non-null  int64
 9   실내등유    10988 non-null  int64
 10  lat     10988 non-null  float64
 11  long    10988 non-null  float64
dtypes: float64(2), int64(4), object(6)
memory usage: 1.0+ MB

In [20]:
# df 저장 후 팀원과 공유
# df.to_csv('Gas_Station_df.csv')

In [21]:
# 고급휘발유 판매하는 주유소의 지역별 수
premiumGas_df = df[df['고급휘발유'] != 0]
premiumGas_df
premiumGas_df['지역'].value_counts()

경기도        389
서울특별시      233
부산광역시       81
대구광역시       70
인천광역시       70
강원도         68
경상남도        66
충청남도        54
광주광역시       49
전라북도        48
경상북도        46
충청북도        42
대전광역시       40
전라남도        31
울산광역시       23
세종특별자치시      8
제주특별자치도      8
Name: 지역, dtype: int64

In [22]:
# 실내등유 판매하는 주유소의 지역별 수
indoorKer_df = df[df['실내등유'] != 0]
indoorKer_df
indoorKer_df['지역'].value_counts()

경기도        1190
경상북도        785
경상남도        667
충청남도        617
전라남도        524
전라북도        506
강원도         457
충청북도        418
제주특별자치도     169
인천광역시       149
대구광역시       148
부산광역시       141
서울특별시       140
울산광역시        96
광주광역시        87
대전광역시        70
세종특별자치시      33
Name: 지역, dtype: int64