In [1]:
import requests
from bs4 import BeautifulSoup as bs
from urllib import request
import pandas as pd
import numpy as np

In [2]:
data = requests.get('https://www.kpetro.or.kr/lay1/S1T602C604/contents.do')
soup = bs(data.text, 'html.parser')
a = soup.select('#subContent > section > div > table > tbody')

list_a = [a[i].text for i in np.arange(len(a))]
list_a = list_a[0].split( )
# df = pd.DataFrame(list_a, columns=['제목'])
# df

In [3]:
sk = list_a[1:7]
hyundai = list_a[8:14]
gs = list_a[15:21]
soil = list_a[22:28]
seokyu = list_a[30:36]
nonghyup = list_a[37:43]
doro = list_a[44:50]
sum = list_a[51:57]
emergency = list_a[58:64]
totalsum = list_a[65:71]

In [4]:

df = pd.DataFrame(columns=['SK에너지','현대오일뱅크','GS칼텍스','S-Oil','석유공사(알뜰)','농협(알뜰)','도로공사(알뜰)','소계(알뜰)','비상표','계'])
df['SK에너지'] = sk
df['현대오일뱅크'] = hyundai
df['GS칼텍스'] = gs
df['S-Oil'] = soil
df['석유공사(알뜰)'] = seokyu
df['농협(알뜰)'] = nonghyup
df['도로공사(알뜰)'] = doro
df['소계(알뜰)'] = sum
df['비상표'] = emergency
df['계'] = totalsum

In [5]:
df

   SK에너지 현대오일뱅크  GS칼텍스  S-Oil 석유공사(알뜰) 농협(알뜰) 도로공사(알뜰) 소계(알뜰)  비상표       계
0  3,676  2,242  2,504  2,075      417    550      172  1,139  371  12,007
1  3,503  2,221  2,437  2,150      409    584      179  1,172  267  11,750
2  3,469  2,249  2,404  2,156      405    597      180  1,182  240  11,700
3  3,118  2,492  2,365  2,184      435    620      186  1,241  189  11,589
4  3,042  2,444  2,272  2,172      431    640      186  1,257  191  11,378
5  2,987  2,400  2,192  2,153      454    654      190  1,298  167  11,197

In [6]:
# df.to_csv('상표별 주유소 현황 2017-2022.9.csv')
df.to_excel('상표별 주유소 현황 2017-2022.9.xlsx')